.main-content {
    max-width: 300px;
    margin: 10px auto;
    padding: 5px 10px;
    background: lightgray;
    border-radius: 5px;
}

body {
    background-color: lightgrey;
}

.header {
    font-color: white;
    background: mediumseagreen;
    border-radius: 3px;
}